<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="rdx.andro.forexcapplugin.childbrowser"
      version="0.1.0">
    <name>ChildBrowser</name>
    <description>ChildBrowser Plugin</description>
    <license>MIT</license>
    <keywords>childBrowser</keywords>


    <js-module src="www/childbrowser.js" name="ChildBrowser">
      
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="rdx.andro.forexcapplugin.childbrowser.ChildBrowser"/>
            </feature>
        </config-file>

        <source-file src="src/ChildBrowser.java" target-dir="src/rdx/andro/forexcapplugin/childbrowser" />      
     </platform>          
</plugin>